.Square {
    background: transparent;
    border: none;
    transition: .2s ease-in-out;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    flex: 1;
}

.Square.active {
    transform: scale(2);
    border-radius: 3%;
    opacity: 0.9;
}